<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
			                  <a href="/u/waylau" title="waylau">
			                    <img src="https://static.oschina.net/uploads/user/426/853151_50.jpg?t=1455675260000" class="blog-avatar-50"
                                     alt="waylau">
			                  </a>
					        </span>
                        <a href="/u/waylau/blogs/1" class="card-link" title="waylau">
                            article1
                        </a></h2>
                    <p class="card-text">context1</p>
                    <div class="card-text">
                        <a href="/u/waylau" class="card-link">waylau</a> 发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">210</i>
                        <i class="fa fa-heart-o" aria-hidden="true">10</i> <i class="fa fa-comment-o"
                                                                              aria-hidden="true">110</i>
                    </div>
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
			                  <a href="/u/waylau" title="waylau">
			                    <img src="https://static.oschina.net/uploads/user/1372/2744276_50.jpg?t=1464228229000"
                                     alt="waylau">
			                  </a>
					        </span>
                        <a href="/u/waylau/blogs/1" class="card-link" title="waylau">
                             article2
                        </a></h2>
                    <p class="card-text">context2</p>
                    <div class="card-text">
                        <a href="/u/waylau" class="card-link">老卫</a> 发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">1</i>
                        <i class="fa fa-heart-o" aria-hidden="true">130</i> <i class="fa fa-comment-o"
                                                                               aria-hidden="true">0</i>
                    </div>
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
			                  <a href="/u/waylau" title="waylau">
			                    <img src="https://static.oschina.net/uploads/user/426/853151_50.jpg?t=1455675260000" class="blog-avatar-50"
                                     alt="waylau">
			                  </a>
					        </span>
                        <a href="/u/waylau/blogs/1" class="card-link" title="waylau">
                            article3
                        </a></h2>
                    <p class="card-text">
                        context3</p>
                    <div class="card-text">
                        <a href="/u/waylau" class="card-link">waylau</a> 发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">2</i>
                        <i class="fa fa-heart-o" aria-hidden="true">0</i> <i class="fa fa-comment-o" aria-hidden="true">10</i>
                    </div>
                </div>
            </div>
            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
			                  <a href="/u/waylau" title="waylau">
			                    <img src="https://static.oschina.net/uploads/user/426/853151_50.jpg?t=1455675260000" class="blog-avatar-50"
                                     alt="waylau">
			                  </a>
					        </span>
                        <a href="/u/waylau/blogs/1" class="card-link" title="waylau">
                            article4
                        </a></h2>
                    <p class="card-text">context4</p>
                    <div class="card-text">
                        <a href="/u/waylau" class="card-link">waylau</a> 发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">2</i>
                        <i class="fa fa-heart-o" aria-hidden="true">0</i> <i class="fa fa-comment-o" aria-hidden="true">10</i>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <nav>
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">6</a></li>
                    <li class="page-item"><a href="#" class="page-link">7</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div>
                <!-- 热门标签 -->
                <div class="card ">
                    <h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?keyword=Web"> <span class="badge badge-default">Freebies</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门用户 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-users" aria-hidden="true"></i> 热门用户</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
									<span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/426/853151_50.jpg?t=1455675260000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/1372/2744276_50.jpg?t=1464228229000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/631/1263909_50.jpeg?t=1492177111000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/52/104700_50.jpeg?t=1490020384000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/1253/2507185_50.jpg?t=1458105128000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
					                
					             <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/1160/2320245_50.jpg?t=1448521520000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
					                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/1282/2564804_50.png?t=1452158857000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/1353/2707606_50.jpg?t=1492140206000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/1686/3372900_50.jpeg?t=1489989205000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://static.oschina.net/uploads/user/77/155593_50.jpg?t=1437621331000" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门文章 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门文章</h5>

                    <ul class="list-group">
                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            hot1<span class="badge badge-danger badge-pill">5</span>
                        </a>
                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            hot2<span class="badge badge-warning badge-pill">4</span>
                        </a>
                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            hot3<span class="badge badge-info badge-pill">3</span>
                        </a>
                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            hot4<span class="badge badge-default badge-pill">2</span>
                        </a>

                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            hot5<span class="badge badge-default badge-pill">1</span>
                        </a>
                    </ul>

                </div>

                <!-- 最新发布 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-line-chart" aria-hidden="true"></i> 最新发布</h5>
                    <div class="list-group">
                        <ul class="list-group">
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                new1
                            </a>
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                new2
                            </a>
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                new3
                            </a>
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                new4
                            </a>

                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                new5
                            </a>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>